<p>
  <a [routerLink]="['/posts/add']" class="btn btn-primary">Add post</a>
</p>
<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-12">
    <h3>Posts List</h3>

    <table class="table table-striped" *ngIf="posts | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>
            <button class="btn btn-sm btn-primary" [routerLink]="['edit', post.id]">Update</button>
            &nbsp;
            <button class="btn btn-sm btn-warning" [routerLink]="['details', post.id]">View</button>
            &nbsp;
            <button class="btn btn-sm btn-danger" (click)="deleteCurrentPost(post.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
